.container {
  width: 100dvw;
  display: flex;
}

.leftAreaWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100dvh;
  border-right: 1px solid #ddd;
}

.leftAreaInner {
  width: 275px;
  height: inherit;
  position: relative;
}

.leftAreaFixed {
  position: fixed;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.leftAreaFixed nav {
  flex: 1;
}

.rightAreaWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100dvh;
}

.rightAreaInner {
  width: 1000px;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.rightAreaInner main {
  width: 600px;
  height: 200dvh;
}

.rightAreaInner aside {
  width: 350px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.search {
  position: fixed;
  height: 42px;
  width: inherit;
  background-color: rgb(239, 243, 244);
  border-radius: 20px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.search label {
  padding: 3px 12px 0 16px;
}

.search input {
  outline: none;
  border: none;
  background-color: rgb(239, 243, 244);
  padding-right: 8px;
  font-size: 16px;
  flex: 1;
}

.followRecommend {
  margin: 78px 0 12px;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
}

.followRecommend h2 {
  padding-bottom: 12px;
}

.logo {
  display: inline-block;
  height: 56px;
}

.logo h1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
